// Navigation Styles here


nav {
    width: 50%;
    .flex-row();
    justify-content: space-evenly;
    text-decoration: none;
    
    @media @mobile {
        width: 100%;
    }


    a {
        font-size: 1.6rem;
        color: black;
        font-weight: bold;
        text-decoration: none;

        &:visited {
            text-decoration: none;
        }
      }
}